inst/doc
/doc/
/Meta/


# Default ignored files
/.idea/shelf/
/.idea/workspace.xml
# Editor-based HTTP Client requests
/.idea/httpRequests/
# Datasource local storage ignored files
/.idea/dataSources/
/.idea/dataSources.local.xml
/.idea/vcs.xml
/.idea/scattermore2.iml
/.idea/modules.xml
